 body{
	background-color: #364258;
	 
} 

.container{
position: relative;
	  top: 100px;
		right: -40px;
	width: 570px;
	height:600px;
	margin: 0 auto;
	padding: 20px;
	box-shadow: 10px 20px 25px   #00000021;
	background-color: #f6cf70;
	border-radius: 8px;
	margin-bottom: 20px;
	text-decoration-color: white;
font-weight:600;
color:#171b21;
}



.h11{
}

